#container {
    border: 5px solid green;
    margin-top: 50px;
    margin-bottom: 150px;
    /*margin-left: 30%;  /* The margin to the left will have some buttons later. */
    padding: 10px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* makes the inner solid pink divs wrap in column*/
    /*gap: 2px; */
  }

  .content {
    border: 2px solid pink; 
    width: 78px; /* find best px numner to wrap evenly */
    height: 50px;
    display: flex;
    /*flex-direction: column; /*used to make the 2 divs in it sit on top eachother*/
    align-items: center; /* move items inside div to top or bottom-- d4, d9 etc */
    justify-content: center; /* move items in div to right or left */
    /*margin: 0.2px; /* used here to move the boxes close to eachother. */
    padding: 5px; 
    
  }
  